## Упражнение 9

In [1]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans

In [2]:
df = pd.read_csv("kmeans.csv", delimiter=',', index_col='Object')
df_norm = df.drop('Cluster', axis=1)

Сюда вставить строку с параметрами

In [3]:
kmeans = KMeans(n_clusters=3, init=np.array([[12.67, 12.0], [8.0, 8.5], [5.57, 14.71]]), max_iter=100, n_init=1)
model = kmeans.fit(df_norm)

**Первый ответ**  
Для удобства все сделано в таблице

In [4]:
df_norm["Clusters"] = model.labels_.tolist()
df_norm

         X   Y  Clusters
Object
1       15   1         1
2        4   4         1
3        4  20         2
4        5   6         1
5        2  20         2
6       12  10         1
7       11  19         0
8        1  14         2
9        1  20         2
10       6  10         1
11      11  16         0
12      11  17         0
13      19   2         1
14      12  13         0
15      17  20         0

In [5]:
alldistances = kmeans.fit_transform(df_norm.drop('Clusters',axis=1))

**Второй ответ**  
В _search_ писать кластер который должны искать

In [6]:
search = 0
Clusters_array = []
for i in range(len(df_norm['Clusters'])):
  if (df_norm['Clusters'][i+1] == search):
    Clusters_array.append(alldistances[i][search])
sum(Clusters_array)/len(Clusters_array)

3.0147077024204094