## Упражнение 4

In [5]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

**Загружаете свой датасет сами**

In [2]:
train_data = pd.read_csv("report.csv", index_col = "id")
train_data

     X   Y  Class
id
1   61  48      1
2   62  28      1
3   83  84      0
4   68  24      1
5   56  39      1
6   32  95      1
7   99  14      1
8   87  64      0
9   44  35      0
10  70  51      0

In [3]:
X = pd.DataFrame(train_data.drop(['Class'], axis=1))
y = pd.DataFrame(train_data['Class']).values.ravel()

In [8]:
Euclid = KNeighborsClassifier(n_neighbors=3, p=2)
Euclid.fit(X, y)

KNeighborsClassifier(n_neighbors=3)

В Object пишете свои координаты

In [17]:
Object = [94, 37]

Первое значение сверху это **первый ответ**  
К нижним добавить по единице и получится **второй ответ**  _Пример: 6,9,7 -> 7,10,8_

In [18]:
Euclid.kneighbors([Object])

(array([[23.53720459, 27.78488798, 27.89265136]]),
 array([[6, 9, 7]], dtype=int64))

Это **третий ответ**

In [19]:
Euclid.predict([Object])

array([0], dtype=int64)

In [20]:
Manhattan = KNeighborsClassifier(n_neighbors=3, p=1)
Manhattan.fit(X, y)

KNeighborsClassifier(n_neighbors=3, p=1)

**Четвертый и пятый ответы**  
Логика такая же как в ответах 1 и 2

In [21]:
Manhattan.kneighbors([Object])

(array([[28., 34., 38.]]), array([[6, 7, 9]], dtype=int64))

**Шестой ответ**

In [22]:
Manhattan.predict([Object])

array([0], dtype=int64)